* {
    box-sizing: border-box;
}

.parentDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.parentDiv > div {
   width: calc(30vw / 4);
height: calc(30vh/5);
border: 1px solid black;
text-align: center;

}

.display {
    width : 30vw;
    height: 30px;
    border: 4px solid black;
    flex: 9 0 30vw;
    margin: 40px;
}

